<div class="card box-shadow text-center mb-4">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Angular</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">1 <small class="text-muted">/ Week</small></h1>
      <p class="text-muted">We will have
          assignment
          per week for
          Angular. This
          assignment
          must be
          done before
          next week.
          Any help will
          be provide
          by Microsoft
          teams/class room.</p>
    </div>
</div>
